<!-- SECTION 4: Contact-->
<section id="contact" class= "contact-section">
    <h2>Contact</h2>

    <div class="group">
      
       <!-- modify this form HTML and place wherever you want your form -->
        <form
          action="https://formspree.io/f/mvgaayjk"
          method="POST"
        >
          <label>
            Your email:
            <input type="email" name="email">
          </label>
          <label>
            Your message:
            <textarea name="message"></textarea>
          </label>
          <!-- your other form fields go here -->
          <button type="submit">Send</button>
        </form>
    </div>
  </section>
